* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

/* LOGO */
.nav-logo {
  object-fit: cover;
  width: 170px;
  height: 50px;
  margin: 5px 10px 0;
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

/* NAV LINKS DESKTOP */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  border-left: 1px solid black;
}

.nav-links a,
.nav-links input {
  display: block;
  padding: 22px 20px;
  text-decoration: none;
  color: black;
  border: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

/* NAV MOBILE */
.mobile-menu {
  display: none;
}

@media (max-width: 800px) {
  .mobile-menu {
    display: block;
    padding: 20px;
    font-size: 25px;
    background: none;
    border-left: 1px solid black;
    border-top: none;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: 60px;
    border-top: 1px solid black;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }
}

/* DISPLAY */
.display {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.display img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.display h1 {
  position: relative;
  color: white;
  font-size: 13vw;
  text-align: center;
  z-index: 2;
}

/* QUEBEC DESKTOP */
.quebec {
  display: flex;
  gap: 110px;
  margin: 110px 80px;
}

.quebec-text {
  font-size: 15px;
  text-align: justify;
  padding: 50px 100px;
  border-right: 2px solid black; 
  box-sizing: content-box;
}

.quebec-text p{
  margin: 30px 0 0;
}

.quebec img {
  width: 300px;
  height: 320px;
  object-fit: cover;
  flex-shrink: 0;
  margin-top: 50px;
}
