* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #000000;
  line-height: 1.5;
  font-size: 16pt;
}

/* LOGO */
.nav-logo {
  object-fit: cover;
  width: 170px;
  height: 50px;
  margin: 5px 10px 0;
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000000;
}

/* NAV LINKS DESKTOP */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  border-left: 1px solid #000000;
}

.nav-links a,
.nav-links input {
  display: block;
  padding: 22px 20px;
  text-decoration: none;
  color: #000000;
  border: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

/* NAV MOBILE */
.mobile-menu {
  display: none;
}

@media (max-width: 800px) {
  .mobile-menu {
    display: block;
    padding: 20px;
    font-size: 25px;
    background: none;
    border-left: 1px solid #000000;
    border-top: none;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: 60px;
    border-top: 1px solid #000000;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }
}

/* DISPLAY */
.display {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.display img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.display h1 {
  position: relative;
  color: white;
  font-size: 13vw;
  text-align: center;
  z-index: 2;
}

/* QUEBEC DESKTOP */
.quebec {
  display: flex;
  gap: 110px;
  margin: 100px;
  margin-right: 150px;
}

.quebec-text {
  font-size: 15px;
  text-align: justify;
  padding: 80px 100px;
  border-right: 1px solid #000000; 
  box-sizing: content-box;
}

.quebec-text p{
  margin: 60px 0 0;
}

.quebec img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  flex-shrink: 0;
  margin-top: 50px;
}

/* QUEBEC MOBILE */
@media (max-width: 1100px) {
  .quebec {
    flex-direction: column;
    gap: 30px;
    margin: 50px 20px;
    align-items: center;
  }

  .quebec-text {
    border-right: none;
    padding: 0;
    text-align: justify;
    width: 100%;
    max-width: 700px;
  }

  .quebec img {
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 60vh;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: auto;
    border-bottom: 1px solid #000000;
    padding-bottom: 50px;
  }
}

/* QUOTE DESKTOP */
.quote {
  margin: 100px 150px;
}

.quote-imgs {
  display: flex;
  gap: 20px;
  align-items: center;
}

.quote-imgs img {
  width: 30vw;      
  height: 25vw;     
  object-fit: cover;
}

.quote h3 {
  font-size: 18px;
  text-align: center;
  padding: 9vw 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-left: 30px;
} 

/* QUOTE MOBILE */
@media (max-width: 1050px) {
  .quote {
    gap: 20px;
    max-width: 700px;
    margin: 80px auto 0;
    padding: 0 20px;
  }

  .quote-imgs {
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .quote-imgs img {
    width: 45%;
    height: 350px;
  }

  .quote h3 {
    width: 100%;
    text-align: center;
    padding: 40px 70px 80px;
    margin: 0;
    border-top: none;
  }
}

/* BACKSTORY DESKTOP */
.backstory {
  margin: 100px 150px;
  column-count: 2;
  column-gap: 60px;
}

.backstory h2 {
  column-span: all;
  margin-bottom: 30px;
}

.backstory p {
  text-align: justify;
  margin-bottom: 20px;
}

/* BACKSTORY MOBILE */
@media (max-width: 900px) {
  .backstory {
    margin: 50px 20px;
    column-count: 1;
  }
}

/* FOOTER DESKTOP */
footer {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  border-top: 1px solid #000000;
  background-color:
}

.footer-about,
.sources-footer,
.socials-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 15px;
  align-items: flex-start;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.footer-about {
  border-top: none;
  border-right: none;
}

.sources-footer {
  border-top: none;
}

.socials-footer {
  border-top: none;
  border-left: none;
}

footer a {
  text-decoration: none;
  color: #000000;
  text-align: left;
}

/* FOOTER MOBILE */
@media (max-width: 900px) {
  footer {
    flex-direction: column;
  }

  .footer-about,
  .sources-footer,
  .socials-footer {
    flex: none;
    padding: 20px 10px;
    border-bottom: 1px solid #000000;
    border-left: none;
    border-right: none;
  }
}
