* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

/* LOGO */
.nav-logo {
  object-fit: cover;
  width: 170px;
  height: 50px;
  margin: 5px 10px 0;
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0;
}

/* NAV LINKS (DESKTOP DEFAULT) */
.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  border-left: 1px solid black;
}

.nav-links a,
.nav-links input {
  display: block;
  padding: 22px 20px;
  text-decoration: none;
  color: black;
  border: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

/* MOBILE NAV */
.mobile-menu {
  display: none;
}

@media (max-width: 800px) {
  .mobile-menu {
    display: block;
    padding: 20px;
    font-size: 25px;
    background: none;
    border-left: 1px solid black;
    border-top: none;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    border-top: 1px solid black;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }
}
