*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

.nav-logo {
  object-fit: cover;
  width: 170px;
  height: 50px;
  margin: 5px 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  border-left: 1px solid black;
}

.nav-links a,
.nav-links input {
  display: block;
  padding: 22px 20px;
  text-decoration: none;
  color: black;
  border: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
